/* Color storage */
:root {
    --bg-color: rgb(0, 0, 0);
    --box: rgb(198, 192, 192);
    --pomo-color: rgb(245, 144, 201);
    --short-color: rgb(132, 212, 235);
    --long-color: rgb(129, 233, 164);
    --button: rgb(222, 197, 197);
    --button-border-bottom: rgb(117, 36, 36);;
    --button-border-top: rgb(255, 196, 196);;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

main {
    max-width: 95%;
    margin: 0 auto;
}

header {
    text-align: center;
    padding: 20px 0px 20px 0px;
}

/* Styles only begin and reset buttons */
#begin,
#reset {
    background-color: var(--button);
    border-top: 3px inset var(--button-border-top);
    border-left: 3px inset var(--button-border-top);
    border-right: 3px inset var(--button-border-bottom);
    border-bottom: 3px inset var(--button-border-bottom);
}

#settings {
    display: none;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 100;
    background-color: rgba(250, 235, 215, 0);
}

#settings-center {
    background-color: antiquewhite;
}

#settings-center h2 {
    margin: 2%;
    font-size: 160%;
}

.space-between {
    display: flex;
    justify-content: space-between;
    margin: 1% 2%;
}

.close-settings {
    background-color: rgba(61, 51, 38, 0.405);
}

h1 {
    font-size: 200%;
}

footer button {
    position: fixed;
    bottom: 10px;
    right: 10px
}

#timer-box {
    border: 1px solid black;
    margin: 10% 0% 5%;
    text-align: center;
}

#timer-box p {
    font-size: 500%;
}

#controls {
    display: flex;
    justify-content: space-around;
}

#begin {
    margin: 1% 0%;
    padding: 2%;
}

img {
    max-width: 100%;
}

.img-container {
    max-width: 50px;
}

#skip-back,
#start-stop,
#skip-forward {
    display: none;
}

#progress-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.box {
    border: 1px solid black;
    background-color: var(--box);
    text-align: center;
    padding: 5% 0%;  
    margin: 1%; 
}

/* Highlight classes: */
.pomo {
    background-color: var(--pomo-color);
}

.short {
    background-color: var(--short-color);
}

.long {
    background-color: var(--long-color);
}